nav {
    width: 85vw;
    background-color: rgb(255, 255, 255);
    position: fixed;
    margin: 0;
    padding: 0;
    height: 7vh;
    overflow: auto;
    right: 0;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 15vw;
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: 100vh;
    overflow: auto;
}

.brand {
    padding-top: 1vh;
    height: 7vh;
    text-align: center;
}

.brand-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 24pt;
    font-weight: 600;
}

.brand-version {
    font-size: 10pt;
    margin-top: 15px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    height: auto !important;
    max-width: 45px;
}

.login-info {
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.avatar {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100px;
    object-position: center 10%;
}

.name {
    margin-top: 10px;
    display: block;
    margin-left: 10px;
    font-weight: 600;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: crimson;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.badge {
    background-color: crimson;
    border-radius: 200px;
    position: inherit;
    float: right;
}

.icon {
    position: relative;
    text-align: c;
}

.sidebar a.settings {
    display: none;
}

@media screen and (max-width: 768px) {
    .brand-name {
        display: none;
    }

    .brand-version {
        display: none;
    }
    
    .avatar {
        margin-bottom: 10px;
    }
    
    .name {
        line-height: 1.2em;
        font-size: 14pt;
        margin: 0;
    }
    
    .sidebar a {
        text-align: center;
    }
    
    .nim {
        font-size: 12pt;
    }
    
    .menu-name {
        display: block;
        text-align: center;
        font-size: 8pt;
    }
    
    .badge {
        display: none;
    }
    
    .badge-bar {
        border: solid #fff;
        height: 15px;
        width: 15px;
        border-radius: 20px;
        position: absolute;
        float: right;
        background-color: #dc143c;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
    nav {
        display: none;
    }
    
    .brand {
        display: none;
    }

    .sidebar {
        text-align: center;
        display: inline-block;
        bottom: 0;
        width: 100vw;
        height: 10vh;
        z-index: 99;
        overflow: hidden !important;
    }

    .login-info {
        display: none;
    }

    .sidebar a {
        display: inline-block;
        padding: 20px 25px;
        max-width: 64px;
        overflow: hidden !important;
    }

    .sidebar svg {
        margin-left: -5px;
        overflow: hidden !important;
    }

    .menu-name {
        display: none;
    }

    .badge-bar {
        z-index: 3;
        margin-left: -5px;
    }
    
    .icon {
        width: 24px;
    }

    .sidebar a.menu-settings {
        display: inline-block;
        /* float: right; */
    }
}