:root {
    --primaryColor: #e42c51;
}

nav {
    width: 85vw;
    background-color: rgb(255, 255, 255);
    position: fixed;
    margin: 0;
    padding: 0;
    height: 7vh;
    overflow: auto;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 3vw;
    overflow: unset;
}

nav .notification {
    aspect-ratio: 1;
    display: grid;
    cursor: pointer;
}

.notification > svg {
    align-self: center;
    justify-self: center;
}

.notification-badge {
    position: absolute;
    transform: translate(2vw, 2vh);
    z-index: 3;
    width: 13px;
    aspect-ratio: 1;
    border-radius: 10vh;
    background-color: #e42c51;
    border: 2px solid white;
}

nav .notification > svg {
    color: rgb(37, 36, 37);
}

.notification-container {
    width: 10px;
    z-index: 9;
    background-color: red;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 100px;
    position: relative;
    display: inline-block;
}

.notification-arrow {
    
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 15vw;
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: 100vh;
    overflow: auto;
}

.brand {
    padding-top: 1vh;
    height: 7vh;
    text-align: center;
}

.brand-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 24pt;
    font-weight: 600;
}

.brand-version {
    font-size: 10pt;
    margin-top: 15px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    height: auto !important;
    max-width: 45px;
}

.login-info {
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.avatar-circle {
    position: relative;
    width: 96px;
    aspect-ratio: 1;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.avatar-circle:hover .overlay-change {
    opacity: .65;
    transition: .3s;
}

.overlay-change {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    opacity: 0;
    background-color: rgb(37, 36, 37);
    color: white;
    font-size: 10pt;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 8px;
    user-select: none;
}

.overlay-change > * {
    /* display: block; */
    text-align: center;
}

.overlay-change > span {
    line-height: .75rem;
}

.overlay-change > .icon {
    margin: 0 auto;
}

.overlay-change > svg {
    width: 18px;
    aspect-ratio: 1;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
    object-position: center;
    display: block;
}

.name {
    margin-top: 10px;
    display: block;
    margin-left: 10px;
    font-weight: 600;
}

.sidebar a {
    display: block;
    color: black;
    padding: 25px 16px;
    text-decoration: none;
    transition: background-color 100ms linear;
}

.sidebar a.active {
    background-color: var(--primaryColor);
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: rgb(224, 223, 223);
    /* color: white; */
}

.sidebar a.badge-tugas:not(.active) {
    background-color: var(--primaryColor);
}

.badge {
    position: inherit;
    float: right;
    width: max-content;
    /* aspect-ratio: 1 / 1; */
    border-radius: 100vh;
}

a:not(.active)>.badge {
    background-color: var(--primaryColor);
    border-radius: 200px;
}

a.active>.badge {
    background-color: white;
    color: var(--primaryColor);
}

.icon {
    position: relative;
    text-align: c;
}

.logout {
    border-top: 1px solid rgb(218, 218, 218);
    position: absolute;
    bottom: 0;
    /* margin-bottom: 15px; */
    /* background-color: rgb(241, 241, 241); */
}

a.logout {
    color: rgb(2, 2, 2);
    width: 100%;
}

.sidebar a.settings {
    display: none;
}

@media screen and (max-width: 768px) {
    .brand-name {
        display: none;
    }

    .brand-version {
        display: none;
    }

    .avatar {
        margin-bottom: 10px;
    }
    
    .name {
        line-height: 1.2em;
        font-size: 12pt;
        margin: 0;
        margin-bottom: 8px;
    }

    .sidebar a {
        text-align: center;
        padding: 20px 16px;
    }

    .logout {
        position: relative;
    }
    
    span.nim {
        font-size: 10pt;
        line-height: 1em;
        max-height: 40px;
        margin: 0;
        display: block;
    }
    
    .menu-name {
        display: block;
        text-align: center;
        font-size: 8pt;
    }
    
    .badge {
        display: none;
    }
    
    .badge-bar {
        border: solid #fff;
        height: 15px;
        width: 15px;
        border-radius: 20px;
        position: absolute;
        float: right;
        background-color: var(--primaryColor);
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
    nav {
        display: none;
    }
    
    .brand {
        display: none;
    }

    .sidebar {
        text-align: center;
        display: inline-block;
        bottom: 0;
        width: 100vw;
        height: 10vh;
        z-index: 99;
        overflow: hidden !important;
    }

    .login-info {
        display: none;
    }

    .sidebar a {
        display: inline-block;
        padding: 20px 25px;
        max-width: 64px;
        overflow: hidden !important;
    }

    .sidebar svg {
        margin-left: -5px;
        overflow: hidden !important;
    }

    .menu-name {
        display: none;
    }

    .badge-bar {
        z-index: 3;
        margin-left: -5px;
    }
    
    .icon {
        width: 24px;
    }

    /* .logout {
        border-top: 1px solid rgb(218, 218, 218);
        position: absolute;
        bottom: 0;
        margin-bottom: 15px;
        background-color: rgb(241, 241, 241);
    }
    
    a.logout {
        color: rgb(2, 2, 2);
        width: 100%;
    } */

    .logout {
        margin-bottom: 0px !important;
        border: none;
        position: relative;
        /* display: none !important; */
    }

    a.logout {
        /* width: auto; */
    }

    .sidebar a.menu-settings, a.logout {
        display: inline-block;
        float: right;
    }
}