@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(245, 245, 245);
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    display: inline-block;
}

.main-content {
    margin-left: 18vw;
    margin-right: 3vw;
    padding-top: 10vh;
}

.breadcrumb-item-text {
    display: inline-block;
    vertical-align: middle;
}

.date {
    text-align: right;
    font-weight: 300;
}

.date svg {
  stroke-width: 1px;
}
/*Welcome*/
.welcome .content {
	background-color: white;
}

.rounded-3 {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

/*Statistic*/
.statistics .box {
	background-color: white;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.statistics .box i {
	width: 60px;
	height: 60px;
	line-height: 60px;
}

/*Jadwal*/
:root {
    --bg-color: #f5f8ff;
    ;
    --main-color: #353536;
    --secondary-color: #8e92a4;
    --main-text-color: #5d606b;
    --secondary-dark-color: #9496a5;
    --tag-color-one: #e0fbf6;
    --tag-color-text-one: #58c2a9;
    --tag-color-two: #ece7fe;
    --tag-color-text-two: #8972f3;
    --tag-color-three: #fde7ea;
    --tag-color-text-three: #e77f89;
    --tag-color-four: #f7f8fc;
    --tag-color-text-four: #a0a6b5;
    --checkbox-color: #009e90;
    --button-color: #49beb7;
    --box-color: #fff1d6;
    --box-color-2: #d3e6ff;
    --box-color-3: #ffd9d9;
    --box-color-4: #daffe5;
    --task-color: #777982;
  }

  .task-manager {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    height: 90vh;
    max-height: 900px;
    background: #fff;
    border-radius: 4px;
    box-shadow:
      0 0.3px 2.2px rgba(0, 0, 0, 0.011),
      0 0.7px 5.3px rgba(0, 0, 0, 0.016),
      0 1.3px 10px rgba(0, 0, 0, 0.02),
      0 2.2px 17.9px rgba(0, 0, 0, 0.024),
      0 4.2px 33.4px rgba(0, 0, 0, 0.029),
      0 10px 80px rgba(0, 0, 0, 0.04);
    overflow: hidden;
  }

  .task-box {
    position: relative;
    border-radius: 4.8px;
    width: 100%;
    margin: 20px 0;
    padding: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px rgba(235, 235, 235, 1);
  }

  .task-box:hover {
    transform: scale(1.02);
  }

  .time {
    margin-bottom: 6px;
    opacity: 0.6;
    font-size: 12px;
  }

  .task-name {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
  }

  .yellow {
    background-color: var(--box-color);
  }

  .blue {
    background-color: var(--box-color-2);
  }

  .red {
    background-color: var(--box-color-3);
  }

  .green {
    background-color: var(--box-color-4);
  }

  .more-button {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #8e92a4;
    box-shadow: 0 -4px 0 0 #8e92a4, 0 4px 0 0 #8e92a4;
    opacity: 0.4;
    right: 20px;
    top: 38px;
    cursor: pointer;
  }

  .task-item {
    display: none;
  }

  .tasks-wrapper {
    padding: 30px 0;
    flex: 1;
    overflow-y: auto;
    height: 100%;
    padding-right: 8px;
  }

  .task {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 16px;
    padding-left: 30px;
    color: var(--task-color);
    font-size: 13px;
    font-weight: 500;
  }

  .task:hover {
    transform: translatex(2px);
  }

  /* Chart */
  .charts .chart-container {
    background-color: #49beb7;
  }
  
  .charts .chart-container h3 {
    color: var(--dk-gray-400)
  }

  div.chart-container.rounded-2.p-3 {
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    margin-bottom: 25px;
  }

  h3.fs-6.mb-3 {
    font-size: 28px !important;
  }

  /* Responsive */

  @media screen and (max-width: 700px) {
    .task-manager {
      flex-direction: column;
      overflow-y: auto;
    }

    .right-bar {
      width: 100%;
      display: block;
    }

    .tasks-wrapper {
      height: auto;
    }
  }

  @media screen and (max-width: 520px) {
    .right-content {
      padding: 10px 16px;
    }

    .category {
      padding: 20px;
    }
  }

@media screen and (max-width: 768px) {
    .date {
        font-size: 14pt;
    }
    .statistics .box {
		margin-bottom: 25px !important;
	}
}


@media screen and (min-width: 360px) and (max-width: 480px) {
    .main-content {
        margin: 10px 10px auto;
        padding-top: 30px;
        padding-bottom: 12vh;
    }
    
    .breadcrumb-item svg {
        max-width: 18px;
    }

    .breadcrumb-item-text {
        font-size: 12pt;
    }

    .date {
        display: none;
    }

    .d-block {
        display: none !important;
    }
}