@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(245, 245, 245);
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    display: inline-block;
}

.btn-primary {
    background-color: var(--primaryColor) !important;
    color: white !important;
    border: none;
}

.main-content {
    margin-left: 18vw;
    margin-right: 3vw;
    padding-top: 10vh;
}

.breadcrumb-item svg {
    z-index: -1;
  }

.breadcrumb-item-text {
    display: inline-block;
    vertical-align: middle;
}

.sum-nilai-card {
    background-color: white;
    text-align: center;
    padding: 20px;
}

.predikat {
    display: block;
    color: var(--primaryColor);
    font-size: 72pt;
    font-weight: 500;
    margin-bottom: -5px;
}

.nilai-desc {
    margin-top: 10px;
    font-size: 12pt;
}

.score {
    font-weight: 500;
}

.sum-nilai-matkul-card {
    background-color: white;
    padding: 20px;
}

.nilai-collapse {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    /* background-color: white !important; */
}

.nilai-collapse {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nilai-collapse span {
    float: left !important;
}

.nilai-collapse svg {
    float: right;
}

.nilai-total {
    font-weight: 600;
    font-size: 14pt;
    margin-bottom: 0;
}

.nilai {
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    
}

@media screen and (min-width: 360px) and (max-width: 480px) {
    .main-content {
        margin: 10px 10px auto;
        padding-top: 30px;
        padding-bottom: 12vh;
    }

    .breadcrumb-item svg {
        max-width: 18px;
    }

    .breadcrumb-item-text {
        font-size: 12pt;
    }

    .matkul-name {
        text-align: left;
        max-width: 200px;
    }

    .nilai {
        font-size: 12pt;
    }

    .nilai-total {
        font-size: 14pt !important;
    }
}

.rotate180deg {
    transition: all .4s ease-out;
}

.rotate180deg.down {
    transform: rotate(180deg);
}

@keyframes rotate180 {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}

.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }