@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(245, 245, 245);
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4 {
    display: inline-block;
}

.btn-primary {
    background-color: var(--primaryColor) !important;
    color: white !important;
}

.main-content {
    margin-left: 18vw;
    margin-right: 3vw;
    padding-top: 10vh;
}

.breadcrumb-item svg {
    z-index: -1;
}

.breadcrumb-item-text {
    display: inline-block;
    vertical-align: middle;
}

.sum-nilai-card {
    background-color: white;
    /* text-align: center; */
    padding: 20px;
}

.predikat {
    display: block;
    color: var(--primaryColor);
    font-size: 72pt;
    font-weight: 500;
    margin-bottom: -5px;
}

.nilai-desc {
    margin-top: 10px;
    font-size: 12pt;
}

.score {
    font-weight: 500;
}

.sum-nilai-matkul-card {
    background-color: white;
    padding: 20px;
}

.nilai-collapse {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    /* background-color: white !important; */
}

.nilai-collapse {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nilai-collapse span {
    float: left !important;
}

.nilai-collapse svg {
    float: right;
}

.hapus-tugas {
    box-sizing: border-box;
    display: block !important;
}

.upload-bar {
    display: flex;
}

.upload-bar .input-tugas {
    width: 80%;
}

.upload-bar .btn-submit {
    width: 20%;
}

.nilai-total {
    font-weight: 600;
    font-size: 18pt;
    margin-bottom: 0;
}

.nilai {
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {}

@media screen and (min-width: 360px) and (max-width: 480px) {
    .main-content {
        margin: 10px 10px auto;
        padding-top: 30px;
        padding-bottom: 12vh;
    }

    .breadcrumb-item svg {
        max-width: 18px;
    }

    .breadcrumb-item-text {
        font-size: 12pt;
    }

    .matkul-name {
        text-align: left;
        max-width: 200px;
    }

    .nilai {
        font-size: 12pt;
    }

    .nilai-total {
        font-size: 14pt !important;
    }
}

.rotate180deg {
    transition: all .4s ease-out;
}

.rotate180deg.down {
    transform: rotate(180deg);
}

@keyframes rotate180 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

/* Rounded tabs */

p.text-muted,
p.text-muted.mb-0 {
    text-align: left;
}

@media (min-width: 576px) {
    .rounded-nav {
        border-radius: 50rem !important;
    }
}

@media (min-width: 576px) {
    .rounded-nav .nav-link {
        border-radius: 50rem !important;
    }
}

a#materi-tab.nav-link.border-0.text-uppercase.font-weight-bold.active,
a#tugas-tab.nav-link.border-0.text-uppercase.font-weight-bold.active,
a#evaluasi-tab.nav-link.border-0.text-uppercase.font-weight-bold.active {
    background-color: var(--primaryColor) !important;
}

.nav-pills .nav-link {
    color: #555;
}

.text-uppercase {
    letter-spacing: 0.1em;
}