@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(245, 245, 245);
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    display: inline-block;
}

table{
    text-align: center;
    vertical-align: middle;
}

td {
    text-align: center;
    vertical-align: middle;
}

th {
    text-align: center;
    vertical-align: middle;
}

.main-content {
    margin-left: 18vw;
    margin-right: 3vw;
    padding-top: 10vh;
}

.breadcrumb-item svg {
    z-index: -1;
  }

.breadcrumb-item-text {
    display: inline-block;
    vertical-align: middle;
}

.date {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: right;
    text-align: right;
    font-weight: 300;
    padding: 0;
    min-height: 30px;
}

.date svg {
    stroke-width: 1px;
}

.content {
	background-color: white;
}

.cat-tugas {
    display: flex;
    max-width: 100vw;
    max-height: 100px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: flex-start;
    gap: 10px;
}

.opt-show-btn {
    border-radius: 100vw !important;
    /* max-height: 720px; */
}

.opt-label {
    background-color: white !important;
    color: black !important;
    font-size: 12pt;
    border-radius: 100vw !important;
    max-width: fit-content !important;
    word-wrap: unset;
}

input[type=radio].opt-show-btn:checked + .opt-label {
    background-color: crimson !important;
    color: white !important;
}

.tugas-card {
    width: 100%;
    background-color: white;
    padding: 16px;
}

.tugas-header {
    display: inline-block;
    line-height: 1em;
}

.tugas-matkul {
    display: block;
    font-size: 12pt;
    margin-bottom: 12px;
}

.tugas-time {
    display: block;
    float: right;
    font-size: 12pt;
}

.tugas-title {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 14pt;
    font-weight: 600;
}

.tugas-status {
    margin-bottom: 8px;
}

.tugas-status > span {
    font-size: 10pt !important;
    font-weight: normal !important;
}

.tugas-date {
    font-size: 12pt;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.tugas-date svg {
    stroke-width: 1px;
}

.cta-tugas {
    display: inline-flex;
    align-items: flex-end;
}

/*Statistic*/
.tugas .box {
	background-color: white;
}

section.tugas {
    background-color: white;
}

.tugas .box i {
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.table {
    font-size: 12pt;
}

.btn-primary {
    background-color: crimson !important;
    color: white !important;
    border: none;
}

.bg-primary {
    background-color: crimson !important;
}

span.badge.bg-secondary, span.badge.bg-alert, span.badge.bg-success, span.badge.bg-primary {
    float: none !important;
}

@media screen and (min-width: 360px) and (max-width: 480px) {

    * {
        overflow-x: hidden;
    }

    .main-content {
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 12vh;
    }

    h1.header-title {
        font-size: 14pt !important;
    }

    .desc-title {
        font-size: 10pt;
    }

    .breadcrumb-item svg {
        max-width: 18px;
    }

    .breadcrumb-item-text {
        font-size: 12pt;
    }

    .date {
        font-size: 12pt;
        font-weight: 300;
    }

    .date svg {
        max-width: 18px;
        stroke-width: 1px;
    }

    span.badge.bg-secondary, span.badge.bg-alert, span.badge.bg-success, span.badge.bg-primary {
        float: none !important;
        word-wrap: break-word !important;
        display: block !important;
        max-width: fit-content;
        line-height: 1.3em;
    }

    .cat-tugas::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    .opt-show-btn {
        min-width: 130px !important;
    }

    .opt-label {
        min-width: 130px !important;
        font-size: 10pt;
    }

    .tugas-header {
        line-height: 1em;
    }

    .tugas-matkul {
        font-size: 10pt;
        margin-bottom: 0;
    }

    .tugas-title {
        font-size: 12pt;
    }

    .tugas-time {
        font-size: 10pt;
    }

    .tugas-status {
        
    }

    .tugas-status > span {
        min-width: fit-content;
        font-size: 9pt !important;
        padding: 5px !important;
    }

    .tugas-date {
        font-size: 10pt;
    }

    .tugas-date svg {
        max-width: 18px;
    }

    .cta-tugas {
        display: inline-block !important;
        width: 100%;
    }

    .btn {
        /* max-width: 72px;
        max-height: 42px; */
        font-size: 10pt;
        text-align: center;
    }

}